
.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-list li {
    width: 200px;
    list-style: none;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

